{% extends "base.html" %}

{% block title %}(..◜ᴗ◝..)Открытка Анубис Псине(..◜ᴗ◝..){% endblock %}

{% block content %}
    <div class="text-center">
        <h1>С днем рождения:З</h1>
        <p class="lead">Желаю тебе и дальше проносить в ряды "Правило Бессоновой Нади", юный командующий революцией,ппхпххпхп</p>
        <p class="lead">Давай и дальше будем всех членоносить и крысятничать, сплетничая вечерочками٩(^ᗜ^ )و ´-</p>
        <p class="lead">Спасибо, что я могу быть собой и ничего не скрывать в нашем общении, это для меня очень много значит(,,¬﹏¬,,)</p>
        <p class="lead">Ведь я даже с любимым человеком не мог получать столько поддержки, как от тебя, а не обидных слов и абьюза💔</p>
        <p class="lead"></p>
        <p class="lead"></p>
        <p class="lead"></p>
        <a href="{% url 'note_list' %}" class="btn btn-primary">☺️Вперед к воспоминаниям☺️</a>
    </div>
{% endblock %}
